<!DOCTYPE html>
<html>
<head>
<div th:include="fragments/head :: head"></div>
</head>
<body>
	<div th:include="fragments/header :: header"></div>

	<div class="container page">
		<div
			th:include="fragments/admin_colaborador_menu_navegacao :: admin_colaborador_menu_navegacao"></div>
		<div class="row">
			<h4 class="col s12" th:text="| Produção Academica do Colaborador ${colaborador.nome}|"></h4>
		</div>

	<div class="row">
			<div class="col s12">
				<div class="input-field row">
					<input placeholder="Procurando uma produção acadêmica em especifico?"
						id="filtro-nome" type="text"
						oninput="buscar(this,'card-stacked','card-content')"
						class="col s11 validate" /><a
						class="btn-floating btn-large waves-effect waves-light right">
						<i class="material-icons">search</i>
					</a>
				</div>
			</div>
		</div>


		<div class="col s12" th:if="${#lists.isEmpty(publicacoes) AND #lists.isEmpty(orientacoes)}">
			<div class="row">
                        <div class="bs-callout bs-callout-primary" id="callout-glyphicons-location">
                            <br />
                            <p> Este colaborador ainda não possui uma produção acadêmica cadastrada! Para incluir a produção acadêmica favor acessar a gerenciamento de produção acadêmica.</p>
                        </div>
                    </div>
		</div>
		
		<div class="col s12" th:if="${!#lists.isEmpty(publicacoes)}">
			<div class="col s12 m7" th:each="publicacao : ${publicacoes}">
				<div class="card horizontal">
					<div class="card-stacked">
						<div class="card-content">
							<span class="card-title" th:text="${publicacao.titulo}"></span>
							<div class="row">
								<div class="col s4">
									<div
										th:include="fragments/listar_autores :: listar-clean('Autor(es):', ${publicacao.autores})"></div>
								</div>
								
								<div class="col s4">
									<p>
										<b>Conferência: </b> 
										<small th:text="${publicacao.nomeConferencia}"></small>
									</p>
									<p>
										<b>Ano: </b><small th:text="${publicacao.anoPublicacao}"></small>
									</p>
								</div>
								


							</div>


						</div>
					</div>
				</div>

			</div>
		</div>


	<div th:unless="${colaborador instanceof T(br.puc.pss.INF2125T2.model.Aluno)}">
							
		<div class="col s12" th:if="${!#lists.isEmpty(orientacoes)}">
			<div class="col s12 m7" th:each="orientacao : ${orientacoes}">
				<div class="card horizontal">
					<div class="card-stacked">
						<div class="card-content">
							<span class="card-title" th:text="${orientacao.titulo}"></span>
							<div class="col s4">
								
									<p>
										<b>Aluno (a): </b><span
											th:text="${orientacao.aluno.nome}"></span>
									</p>
									<p>
										<b>Ano: </b><span
											th:text="${orientacao.ano}"></span>
									</p>
									
									<p>
										<b>Tipo de Orientação: </b><span th:text="${orientacao.tipoDeOrientacao.tipo}"></span>
									</p>
								

						</div>
					</div>
				</div>

			</div>
		</div>
		
	
	
	
	</div>


</div>

	</div>

	<div th:include="fragments/footer :: footer"></div>
	<div th:include="fragments/CalendarioJS :: calendario"></div>
	<script type="text/javascript" th:src="@{/js/modernizr.js}"></script>
	<script type="text/javascript" th:src="@{/js/timeline.main.js}"></script>
	<script type="text/javascript">
		$(document)
				.ready(
						function() {

							buscar = function(e, componente, elementoABuscar) {
								var filtro = e;
								var componente = componente;
								var elementoABuscar = elementoABuscar;

								var nomeFiltro = removerAcentos(filtro.value
										.toLowerCase());
								var componenteCompleto = document
										.getElementsByClassName(componente);
								var elemento = document
										.getElementsByClassName(elementoABuscar);

								for (var i = elemento.length - 1; i >= 0; i--) {
									var conteudoBusca = removerAcentos(elemento[i].firstElementChild.innerHTML);
									var corresponde = conteudoBusca
											.toLowerCase().indexOf(nomeFiltro) >= 0;
									componenteCompleto[i].style.display = corresponde ? ''
											: 'none';

								}

							};
						});

		
		$(document).ready(function() {

			//Js para o dropdown
			$('.dropdown-button').dropdown({
				inDuration : 300,
				outDuration : 225,
				constrain_width : false, // Does not change width of dropdown to that of the activator
				gutter : 0, // Spacing from edge
				belowOrigin : false, // Displays dropdown below the button
				alignment : 'left' // Displays dropdown with edge aligned to the left of button
			});

		});

		/**
		 * Remove acentos de strings
		 * @param  {String} string acentuada
		 * @return {String} string sem acento
		 */
		var map = {
			"â" : "a",
			"Â" : "A",
			"à" : "a",
			"À" : "A",
			"á" : "a",
			"Á" : "A",
			"ã" : "a",
			"Ã" : "A",
			"ê" : "e",
			"Ê" : "E",
			"è" : "e",
			"È" : "E",
			"é" : "e",
			"É" : "E",
			"î" : "i",
			"Î" : "I",
			"ì" : "i",
			"Ì" : "I",
			"í" : "i",
			"Í" : "I",
			"õ" : "o",
			"Õ" : "O",
			"ô" : "o",
			"Ô" : "O",
			"ò" : "o",
			"Ò" : "O",
			"ó" : "o",
			"Ó" : "O",
			"ü" : "u",
			"Ü" : "U",
			"û" : "u",
			"Û" : "U",
			"ú" : "u",
			"Ú" : "U",
			"ù" : "u",
			"Ù" : "U",
			"ç" : "c",
			"Ç" : "C"
		};

		function removerAcentos(s) {
			return s.replace(/[\W\[\] ]/g, function(a) {
				return map[a] || a
			})
		};
	</script>
</body>
</html>